@section Menu {
    @await Html.PartialAsync("Menu")
}

<h2 class="ui header">Search bar</h2>

@await Html.PartialAsync("Search")

<h3 class="ui header">Table weather forecast</h3>

@await Html.PartialAsync("Weather")

@await Html.PartialAsync("Empty")