<div class="ui placeholder segment">
    <div class="ui one column center aligned grid">
        <div class="column">
            <h3 class="ui icon header">
                <i class="folder open outline icon"></i>
                <div class="content" style="font-weight: 700">
                    Nothing here yet
                    <div class="sub header" style="margin-top: 5px">Try adding something else</div>
                </div>
            </h3>
        </div>
    </div>
</div>