<form class="ui large form">
    <div class="ui segment">
        <div class="fields" style="margin-bottom: 0">
            <div class="field">
                <label>Type</label>
                <select>
                    <option>All</option>
                    <option value="CategoryTree">Category Tree</option>
                </select>
            </div>
            <div class="field">
                <label>Query</label>
                <input type="text" name="query" placeholder="Search terms" autocomplete="off" />
            </div>
            <div class="field" style="margin-left: auto">
                <label>&nbsp;</label>
                <div class="ui blue submit button right labeled icon">
                    Search
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
</form>