<table class="ui celled table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Weather</th>
            <th>Temperature (°C)</th>
            <th>Precipitation</th>
            <th>Wind</th>
            <th>Probability</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>18 Feb</td>
            <td><i class="sun icon"></i></td>
            <td>4°</td>
            <td>0.0 mm</td>
            <td>3 m/s</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>19 Feb</td>
            <td><i class="sun icon"></i></td>
            <td>3°</td>
            <td>0.0 mm</td>
            <td>3 m/s</td>
            <td>80%</td>
        </tr>
        <tr>
            <td>20 Feb</td>
            <td><i class="sun icon"></i></td>
            <td>0°</td>
            <td>0.0 mm</td>
            <td>3 m/s</td>
            <td>70%</td>
        </tr>
        <tr>
            <td>21 Feb</td>
            <td><i class="snowflake icon"></i></td>
            <td>-1°</td>
            <td>3.0 mm</td>
            <td>8 m/s</td>
            <td>60%</td>
        </tr>
        <tr>
            <td>22 Feb</td>
            <td><i class="sun icon"></i></td>
            <td>-4°</td>
            <td>0.0 mm</td>
            <td>3 m/s</td>
            <td>50%</td>
        </tr>
    </tbody>
</table>

<div class="bar right">
    <a class="ui orange button right labeled icon" href="#">
        Report weather
        <i class="exclamation triangle icon"></i>
    </a>
</div>
